<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  config>
<!-- TODO: Must supply your own values -->
<config>
	<jvm>
		<name>Sample</name>
		<heartbeat>1000</heartbeat>
		<jmx host="127.0.0.1" port="8061" />
		<classpath>
			<path>lib/${project.build.finalName}.jar</path>
		</classpath>
		<properties>
			<property name="java.util.logging.config.file" value="config/logging.properties" />
		</properties>
	</jvm>
	<jndi implementation="org.crypthing.things.appservice.ServicesFactory"/>
	<worker implementation="${package}.App" >
		<threads>10</threads>
		<restartable>true</restartable>
		<sleep>1000</sleep>
		<goal>100</goal>
		<ramp>20</ramp>
	</worker>
	<snmp>
		<property name="org.crypthing.things.SNMPTrap" value="org.crypthing.things.snmp.SNMPBridge" />
		<property name="org.crypthing.things.batch.udpAddress" value="127.0.0.1/8163" />
		<property name="org.crypthing.things.batch.rootOID" value="0.51.171" />
	</snmp>
</config>
